apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: nodejs  
spec:
  type: NodePort
  selector:
    app: nodejs 
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30101
